<!DOCTYPE html>
<html>
<head>

<!--Bootstrap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- End Bootstrap-->

</head>
<body>
	<div class="container-fluid login">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-lg-4">
				<h4>Authentication Required</h4>
				<div id="root"></div>
				<script src="/login.bundle.js"></script>
			</div>
		</div>
	</div>
</body>
</html>
