#root {
	overflow-x:hidden;
}

.score-box {
	width:100%;
	min-width:50px;
}

body {
	font-family:'Lato',sans-serif;
}
/*
html {
	overflow-x:auto;
}

table {
	overflow-x:auto;
}
*/

.span-spacing {
	margin-left:1em;
	font-size:1.25em;
}

.span-spacing span {
	margin-left:0.5em;
}

main {
	margin:10px 0 10px 0;
}

.navbar-background {
	background:url(../images/bg.png) #00568f;
	background-repeat:repeat;
}

.navbar .nav.navbar-nav li a, .navbar-background .navbar-header a {
	width:100%;
	color:#FFFFFF;
	cursor:pointer;
}

.navbar .nav.navbar-nav li a:hover, .navbar-background .navbar-header a:hover {
	color:#FFFFFF;
	background-color:rgba(0,0,0,0.4)
}

@media (min-width: 768px) {
	.navbar-background * {
		height:75px;
		text-align:center;
	}

	.navbar .nav.navbar-nav li a {
		width:150px;
		color:#FFFFFF;
		cursor:pointer;
	}

	.navbar-background .nav.navbar-right li a {
		width:auto;
	}

	.navbar .nav.navbar-nav li a:hover {
		color:#FFFFFF;
		background-color:rgba(0,0,0,0.4)
	}

	.navbar-background li a {
		padding-top:29px;
		padding-bottom:29px;
	}
	
	li.big-cog a {
		padding-top:27px;
		padding-bottom:26px;
	}
}

.btn-euros {
	background-color:#00568f;
}

.user-row {
	cursor:pointer;
}

.margin-left-right {
	margin: 0 5px 0 5px;
}

h3 {
	margin-top:0;
}

.btn-group-margin {
	margin-bottom: 10px;
}

.table thead {
	font-weight:bold;
}

.btn-group-filters {
	position:relative;
	padding-left:98px;
}

.filter-label {
	position:absolute;
	left:15px;
	padding:6px 0 6px 0;
}

.navbar-right {
	margin-right:0;
}

.big-cog {
	font-size:1.5em;
}

.trash-img {
	max-width:100%;
	max-height:25vh;
}

.trash-talk div.row, .bottom-space {
	margin-bottom:7px;
}

.trash-talk .url-input, .trash-talk input {
	width:100%;
}

.preview-image span, .preview-image button {
	margin-right:4px;
}

.preview-image .panel {
	margin-bottom:3px;
}

.show-more-trash, .show-new-trash {
	text-align:center;
}

.show-more-trash div {
	border-top:1px solid #CDCDCD;
	padding: 3px 0 3px 0;
}

.show-new-trash div {
	border-bottom:1px solid #CDCDCD;
	padding: 3px 0 3px 0;
}

.show-more-trash a, .show-new-trash a {
	cursor:pointer;
}

.alert-settings {
	margin-top:10px;
}


/*
BRACKET STYLES BELOW
*/
.bracket {
	position:relative;
	margin-left:75%;
}

.branch {
	position:relative;
	margin-left:-150px;
}

.branch::before {
	content:'';
	width:35px;
	border-top:1px solid #808080;
	position:absolute;
	left:115px;
	top:50%;
	margin-top:-0.5px;
}

.branch .game {
	position:relative;
	min-height:95px;
}

.branch .game .tree-label {
	left:0;
}

.game .tree-label {
	width:100px;
	display:block;
	padding:5px 10px;
	text-align:center;
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	border:1px solid #808080;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.game::before {
	content:'';
	height:100%;
	border-left:1px solid #808080;
	position:absolute;
	left:114px;
}

.branch .game::after {
	content:'';
	width:15px;
	border-top:1px solid #808080;
	position:absolute;
	left:100px;
	top:50%;
}

.game:first-child::before {
	height:50%;
	top:50%;
}

.game:first-child::after {
	
}

.game:last-child::before {
	height:50%;
}

.game:last-child::after {
	border-top:none;
	border-bottom:1px solid #808080;
}

.game:only-child::before {
	display:none;
}

.game:only-child::after {
	width:25px;
	height:0;
	margin-top:0.5px;
	border-radius:0;
}

.bracket-team {
	position:relative;
	width:100%;
	height:35px;
	display:block;
}

.bracket-team img {
	position:absolute;
	top:50%;
	left:0;
	transform:translate(0,-50%);
	height:35px;
}

.bracket-team .score, .penalty-mark {
	position:absolute;
	top:50%;
	right:10px;
	transform:translate(0,-50%);
}
.bracket-team .penalty-mark {
	right:0px;
	font-size:1.5em;
}

.fixture-list div {
	position:relative;
}

.penalty-checkmark {
	border: 2px #00568f solid;
	position:absolute;
	top:0;
	right:0;
	padding:3px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#FFFFFF;
	cursor:pointer;
}

.penalty-checkmark.active {
	color:#00568f;
}

.winner {
	position:relative;
	text-align:center;
}
/*
.champ-name::after {
	content:'';
	border-top: 4px #00568f solid;
	border-left: 4px #00568f solid;
	border-right: 4px #00568f solid;
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	width:100%;
}

.winner-bottom {
	border-bottom: 4px #00568f solid;
	border-left: 4px #00568f solid;
	border-right: 4px #00568f solid;
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
}*/

.winner .flag-contain {
	position:relative;
	height:50px;
	width:70px;
	display:inline-block;
}
.winner .flag-contain img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.winner .champ-name {
	margin-left:5px;
	font-size:1.5em;
}

.winner-contain {
	position:absolute;
	top:50%;
	transform:translate(0,-200px);
	height:125px;
	width:200px;
	border: 4px #00568f solid;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-align:center;
}