.score-box {
	width:100%;
	min-width:50px;
}

body {
	margin:10px 0 10px 0;
	font-family:'Lato',sans-serif;
}

.span-spacing {
	margin-left:1em;
	font-size:1.25em;
}

.span-spacing span {
	margin-left:0.5em;
}

.navbar-background {
	background:url(../image/bg.png) #00568f repeat-x center bottom;
	background-repeat:repeat-x;
	background-attachment:fixed;
}